<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <style type="text/css">
  label {cursor: pointer;}
  label:hover {background: #f1f1f1}
  #places:empty:before {content: "No places..."}

  </style>
  <body class="pa4 center f5 lh-copy sans-serif" style="font-family: 'Work Sans', sans-serif;font-weight:300">

    <div class="w-20 fl">

      <div class="mv4">
        <span style="font-weight:400" class="db">Places Quiet</span>
        A directory of places in New York City that don't play music.
      </div>

      <label class="db mv1">
        <input type="checkbox" class="category_toggle mr1" data-category="Restaurant" checked> Restaurants
      </label>
      <label class="db mv1">
        <input type="checkbox" class="category_toggle mr1" data-category="Café" checked> Cafés
      </label>

      <div class="mv4">
        Know someplace quiet?<br>
        <a href="https://github.com/aupiff/places-quiet/issues/new">Share a quiet place</a>
      </div>
    </div>

    <div class="w-80 fl pl5">

<!--     <input placeholder="Search for quiet place..." type="text" name="search" id="search_input" class="pv2 w-100 ph3 bn bb b--black-20"/>

    <div id="results_list" class="bb pv4" style="display:none">
    </div>
 -->

    {{#places}}
      <p class="mv4 place"
         data-category="{{category}}"
         data-address="{{address}}"
         data-name="{{name}}"
         data-comments="{{comments}}"
         data-description="{{description}}">
        <span style="font-weight:400">{{name}}</span> - {{description}}<br>
        <span class="i">{{address}}</span>
      </p>
    {{/places}}
</div>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script type="text/javascript">

  var places = [
    {{#places}}
    {
      name: "{{name}}",
      description: "{{description}}",
      comments: "{{comments}}",
      address: "{{address}}",
      category: "{{category}}"
    },
    {{/places}}
  ];

  var index = lunr(function () {

    this.ref('address');
    this.field('name');
    this.field('comments');
    this.field('description');
    this.field('address');
    this.field('category');

    places.forEach(function(place) {
      this.add(place)
    }, this);

  });

  // var search_input = document.getElementById('search_input');
  // var results_list = document.getElementById('results_list');

  // search_input.addEventListener("input", function (e) {

  //   var results = index.search(search_input.value);

  //   results_list.innerHTML = '';

  //   if (!results.length) {
  //     results_list.style.display = 'none';
  //     return;
  //   }

  //   results.forEach(function(result){

  //     var place_el = document.querySelector('[data-address="' + result.ref + '"]');

  //     results_list.appendChild(place_el.cloneNode(true));
  //   });

  //   results_list.style.display = 'block';
  // });

  var category_toggles = document.querySelectorAll('.category_toggle');

  category_toggles.forEach(function(el){

    var category = el.getAttribute('data-category');

    el.addEventListener("change", function (e) {

      var checked = el.checked;
      var place_els = document.querySelectorAll('.place');

      place_els.forEach(function(place_el){

        var place_category = place_el.getAttribute('data-category');

        if (place_category === category && checked)
          place_el.style.display = 'block';

        if (place_category === category && !checked)
          place_el.style.display = 'none';
      });
    });
  });


</script>
</body>
</html>
