<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

  <style type="text/css">

  .condensed {font-family: 'Fira Sans Extra Condensed';}
  a {color: inherit;text-decoration: none;}
  .blue {color:blue;}
  </style>

  <body class="pa4 center f4 lh-copy sans-serif" style="font-family: 'VT323'">
   

    <div class="w-60 fr mv5">
      <B>Places Quiet</b><br>
        A directory of places in New York City that don't play music.
    </div>


    <div class="foo fl w-100">


    {{#places}}
      <a class="db bt pv2" href="fds">
        <span class="blue db fl w-40">{{name}}</span>
        <div class="fl w-40">{{address}}</div>
        <span class="fr tr w-20">{{description}}</span>
        <div class="cf"></div>
      </a>
    {{/places}}



  </body>
</html>