<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
<link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,400i,600,600i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
































  <style type="text/css">

  .condensed {font-family: 'Fira Sans Extra Condensed';}

.foo a {text-decoration: none;}
  a {color: inherit;}
  body {background: #f5f3eb;color: #0869ab}
  </style>

  <body class="pa4 center f5 lh-copy sans-serif" style="font-family: 'Fira Mono'">
    
<div class="">


<div class="foo fl w-100 f5">


{{#places}}
  <a class="mv4 db bb b--black bw1" href="fds">
    <div class="fl w-50">{{name}}</div>
    <div class="fl w-30">{{description}}</div>
    <div class="fr">{{address}}</div>
  </a>
{{/places}}



  </body>
</html>